/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
* Units: vh, vw, rem only (no px)
*/

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#main {
  overflow-x: hidden;
}

#nav {
  height: 5rem;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 99;
  padding: 0 2.5vw;
}

#nav-part1 {
  width: 2.5rem;
}

#nav .line {
  height: 0.125rem;
  width: 100%;
  background-color: #434b34;
  margin-bottom: 0.25rem;
}

#nav-part2 button {
  padding: 0.4rem 1rem;
  font-weight: 600;
  margin-right: 1rem;
  border: 0.0625rem solid #434b34;
  background-color: transparent;
  color: #434b34;
  border-radius: 3.125rem;
  font-size: 0.9rem;
}

#nav-part2 button:nth-last-child(1) {
  background-color: #434b34;
  color: #fff;
}

#page1 {
  height: 100vh;
  position: relative;
  width: 100%;
  padding-top: 6.25rem;
}

#page1 svg {
  scale: 0.28;
  fill: #434b34;
  position: absolute;
  top: -10%;
  z-index: 9;
}

#page1 img {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#page2 {
  min-height: 150vh;
  background-color: #5b6647;
  position: relative;
  overflow: hidden;
}

#page2 #svg1 {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}

#text-container {
  position: relative;
  z-index: 9;
  padding-top: 10vw;
}

#text-container h2 {
  font-family: PP woodland;
  color: #434b34;
  font-size: 5vw;
  line-height: 5.5vw;
  font-weight: 100;
  text-align: center;
}

#text-container h2 span {
  font-family: PP woodland;
}

#page2 #svg2 {
  position: absolute;
  bottom: -10%;
  width: 300vw;
  fill: #5b6647;
  z-index: 9;
}

#page2 #svg3 {
  position: absolute;
  bottom: -10%;
  left: -50vw;
  width: 300vw;
  fill: #e3e3c4;
}

#page3 {
  min-height: 100vh;
  padding: 13vw 5vw;
  background-color: #f7f7ee;
}

#page3 .elem {
  height: 12.5rem;
  width: 100%;
  border: 0.0625rem solid #5b6647;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow: hidden;
}

#page3 .elem:nth-child(1) {
  border-top: 0.0625rem solid #5b6647;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

#page3 .elem:nth-last-child(1) {
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.elem-part1 {
  height: 100%;
  width: 22%;
  position: absolute;
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.elem-part1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.elem-part2 {
  height: 100%;
  width: 100%;
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #434b34;
  padding: 3.5vw 4vw;
}

.elex-1 h3 {
  margin-bottom: 3.5vw;
  font-family: pp woodland;
  font-size: 3.3vw;
  font-weight: 100;
}

.elex-1 p {
  font-size: 1.2vw;
}

.elex-2 h5 {
  background-color: #5b6647;
  color: #e3e3c4;
  padding: 0.25rem 1.125rem;
  border-radius: 3.125rem;
  font-weight: 600;
  font-size: 0.9vw;
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  position: relative;
  overflow: hidden;
}

.elex-2 h5 i {
  position: absolute;
  background-color: #e3e3c4;
  color: #5b6647;
  padding: 0.3125rem 1.125rem;
  left: 0;
  opacity: 0;
  top: 0;
}

.elem:hover .elem-part2 {
  width: 78%;
  background-color: #5b6647;
  color: #e3e3c4;
}

.elem:hover .elem-part1 {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.elem:hover .elex-2 h5 {
  background-color: #e3e3c4;
  color: #5b6647;
}

.elem:hover .elex-2 h5 i {
  opacity: 1;
}

#page4 {
  height: 100vh;
  width: 100%;
  background-color: #f7f7ee;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(0.6) translateX(-40%) translateY(34%);
  -ms-transform: scale(0.6) translateX(-40%) translateY(34%);
  transform: scale(0.6) translateX(-40%) translateY(34%);
  border-radius: 1.25rem;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.swiper-slide {
  width: 80%;
  padding: 3.75rem;
}

.swiper-slide-active img {
  -webkit-transform: scale(1) translateX(0%) translateY(0%);
  -ms-transform: scale(1) translateX(0%) translateY(0%);
  transform: scale(1) translateX(0%) translateY(0%);
}

.swiper-button-next {
  color: #fff;
  background-color: #434b34;
  padding: 0.3125rem 1.25rem;
  height: 1.25rem;
  border-radius: 3.125rem;
  position: absolute;
  top: 10%;
  right: 5%;
}

.swiper-button-prev {
  color: #fff;
  background-color: #434b34;
  padding: 0.3125rem 1.25rem;
  height: 1.25rem;
  border-radius: 3.125rem;
  position: absolute;
  top: 10%;
  left: 80%;
}

.swiper-button-next::after {
  content: "";
}

.swiper-button-prev::after {
  content: "";
}

.swiper-pagination {
  height: 5%;
  width: 5%;
  left: 85%;
  top: 7%;
  font-weight: 700;
  color: #5b6647;
  font-size: 0.875rem;
}

#page5 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

#page5-left {
  height: 100%;
  border-radius: 1.25rem;
  width: 40%;
  background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/230/ALH_Odisej_outsidepool_01-scaled-600x0.jpg);
  background-size: cover;
  background-position: center;
  transform: translateX(-10%);
}

#page5-center {
  height: 100%;
  border-radius: 1.25rem;
  width: 50%;
  text-align: center;
  padding: 5vw 8vw;
}

#page5-center h1 {
  font-family: pp woodland;
  font-size: 5vw;
  line-height: 5vw;
  color: #5b6647;
  font-weight: 100;
  margin-bottom: 4vw;
}

#page5-center p {
  font-size: 1.3vw;
  color: #676767;
  font-weight: 500;
  margin-bottom: 4vw;
}

#page5-right {
  height: 100%;
  border-radius: 1.25rem;
  width: 40%;
  background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/388/alh-img-2-600x0.jpeg);
  background-size: cover;
  background-position: center;
  transform: translateX(10%);
}

/* Footer Styling */
#footer {
  height: auto;
  min-height: 84vh;
  width: 100%;
  background-color: #032a3b;
  color: #fff;
  padding: 5vw 4vw 2vw 4vw;
  font-family: 'Gilroy', sans-serif;
  position: relative;
  z-index: 10;
}

#footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5vw;
}

#footer-brand {
  text-align: center;
  width: 100%;
}

#footer-brand h1 {
  font-family: 'PP Woodland', serif;
  font-size: 5vw;
  font-weight: 100;
  color: #e3e3c4;
  margin-bottom: 0.5vw;
}

#footer-brand h3 {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.2vw;
  letter-spacing: 0.2vw;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

#footer-logo {
  position: absolute;
  right: 4vw;
  top: 5vw;
}

.footer-divider {
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 2vw;
}

.footer-divider-thin {
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2vw 0;
}

#footer-contact-info,
#footer-social-info,
#footer-links-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-col {
  width: 33.33%;
}

.footer-col.center {
  text-align: center;
}

.footer-col.right {
  text-align: right;
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8vw;
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.6);
}

/* =====================================================
   RESPONSIVENESS - Comprehensive Breakpoints
   Mobile: 480px | Tablet: 768px | Laptop: 1024px | Desktop: 1440px+
   All units: vh, vw, rem
   ===================================================== */

/* Large Desktop (1440px and above) */
@media (min-width: 1440px) {
  #text-container h2 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  #page5-center h1 {
    font-size: 4.5rem;
    line-height: 4.75rem;
  }

  #page5-center p {
    font-size: 1.125rem;
  }

  .elex-1 h3 {
    font-size: 3rem;
  }

  .elex-1 p {
    font-size: 1rem;
  }

  #footer-brand h1 {
    font-size: 4.5rem;
  }

  #footer-brand h3 {
    font-size: 1.125rem;
  }

  #footer-contact-info,
  #footer-social-info,
  #footer-links-info {
    font-size: 0.875rem;
  }

  #footer-bottom {
    font-size: 0.75rem;
  }
}

/* Laptop (1024px - 1439px) */
@media (max-width: 1439px) and (min-width: 1025px) {
  #nav {
    padding: 0 2vw;
  }

  #text-container h2 {
    font-size: 5vw;
    line-height: 5.5vw;
  }

  #page5-center h1 {
    font-size: 5vw;
    line-height: 5.5vw;
  }

  #page5-center p {
    font-size: 1.3vw;
  }
}

/* Tablet (768px - 1024px) */
@media (max-width: 1024px) {
  #nav {
    padding: 0 1.5vw;
  }

  #nav-part2 button {
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
    margin-right: 0.625rem;
  }

  #page1 svg {
    scale: 0.22;
    top: -8%;
  }

  #text-container {
    padding-top: 15vw;
  }

  #text-container h2 {
    font-size: 6vw;
    line-height: 7vw;
  }

  #page2 {
    min-height: 100vh;
  }

  #page2 #svg2,
  #page2 #svg3 {
    width: 400vw;
    bottom: 0;
  }

  #page3 {
    padding: 10vw 3vw;
  }

  #page3 .elem {
    height: auto;
    min-height: 11.25rem;
    flex-direction: row;
  }

  .elem-part1 {
    width: 25%;
    position: relative;
    transform: translateX(0);
    height: 100%;
    min-height: 11.25rem;
  }

  .elem-part2 {
    width: 75%;
    padding: 2vw 3vw;
  }

  .elem:hover .elem-part2 {
    width: 75%;
  }

  .elem:hover .elem-part1 {
    transform: translateX(0);
  }

  .elex-1 h3 {
    font-size: 4vw;
    margin-bottom: 1.5vw;
  }

  .elex-1 p {
    font-size: 1.8vw;
  }

  .elex-2 h5 {
    font-size: 1.2vw;
  }

  /* Swiper Tablet */
  .swiper-slide {
    width: 85%;
    padding: 2.5rem;
  }

  .swiper-button-prev {
    left: 70%;
  }

  .swiper-pagination {
    left: 80%;
  }

  #page5 {
    flex-direction: column;
    padding: 8vw 0;
    height: auto;
    min-height: auto;
  }

  #page5-left,
  #page5-right {
    width: 90%;
    height: 35vh;
    transform: none !important;
    margin: 1rem auto;
  }

  #page5-center {
    width: 100%;
    padding: 6vw 8vw;
    order: -1;
  }

  #page5-center h1 {
    font-size: 7vw;
    line-height: 8vw;
    margin-bottom: 3vw;
  }

  #page5-center p {
    font-size: 2.5vw;
    margin-bottom: 4vw;
  }

  /* Footer Tablet */
  #footer {
    height: auto;
    min-height: auto;
    padding: 6vw 4vw 3vw;
  }

  #footer-brand h1 {
    font-size: 8vw;
  }

  #footer-brand h3 {
    font-size: 2vw;
    letter-spacing: 0.15vw;
  }

  #footer-contact-info,
  #footer-social-info,
  #footer-links-info {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .footer-col {
    width: 100%;
    text-align: center;
  }

  .footer-col.center,
  .footer-col.right {
    text-align: center;
  }

  #footer-contact-info p,
  #footer-social-info p,
  #footer-links-info p {
    font-size: 2vw;
  }

  #footer-bottom {
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
  }

  #footer-bottom p {
    font-size: 1.8vw;
  }

  #footer-logo {
    position: relative;
    right: auto;
    top: auto;
    margin: 1rem auto;
    display: block;
    width: fit-content;
  }

  #footer-top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vw;
  }
}

/* Mobile Large (481px - 767px) */
@media (max-width: 767px) {
  #nav {
    padding: 0 3vw;
    height: 4.375rem;
  }

  #nav-part1 {
    width: 2.2rem;
  }

  #nav-part2 button {
    padding: 0.3rem 0.625rem;
    font-size: 0.7rem;
    margin-right: 0.5rem;
  }

  #page1 {
    padding-top: 5rem;
  }

  #page1 svg {
    scale: 0.18;
    top: -5%;
  }

  #text-container {
    padding-top: 20vw;
  }

  #text-container h2 {
    font-size: 7vw;
    line-height: 8vw;
  }

  #page2 {
    min-height: 90vh;
  }

  #page2 #svg2,
  #page2 #svg3 {
    width: 500vw;
    bottom: 0;
  }

  #page3 {
    padding: 15vw 4vw;
  }

  #page3 .elem {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    border-left: 0.0625rem solid #5b6647;
    border-right: 0.0625rem solid #5b6647;
  }

  .elem-part1 {
    position: relative;
    width: 100%;
    height: 25vh;
    transform: none;
  }

  .elem-part2 {
    width: 100%;
    padding: 4vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .elex-1 h3 {
    font-size: 6vw;
    margin-bottom: 2vw;
  }

  .elex-1 p {
    font-size: 3.5vw;
    margin-bottom: 3vw;
  }

  .elex-2 h5 {
    font-size: 3vw;
  }

  .elem:hover .elem-part2 {
    width: 100%;
  }

  .elem:hover .elem-part1 {
    transform: none;
  }

  /* Swiper Mobile - Show all 3 images stacked, no sliding */
  #page4 {
    height: auto;
    min-height: auto;
    padding: 5vw 4vw;
  }

  .swiper {
    height: auto;
  }

  .swiper-wrapper {
    flex-direction: column;
    transform: none !important;
  }

  .swiper-slide {
    width: 100% !important;
    padding: 2vw 0;
    margin-bottom: 4vw;
  }


  .swiper-slide img {
    transform: none;
    border-radius: 1rem;
    height: 50vh;
  }

  .swiper-slide-active img {
    transform: none;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    display: none;
  }

  #page5 {
    flex-direction: column;
    padding: 10vw 5vw;
    height: auto;
    overflow: hidden;
  }

  #page5-left,
  #page5-right {
    width: 100%;
    height: 30vh;
    transform: none !important;
    margin: 2vw 0;
    border-radius: 1rem;
  }

  #page5-center {
    width: 100%;
    padding: 8vw 5vw;
    order: -1;
  }

  #page5-center h1 {
    font-size: 8vw;
    line-height: 9vw;
    margin-bottom: 4vw;
  }

  #page5-center p {
    font-size: 4vw;
    margin-bottom: 6vw;
  }

  /* Footer Mobile Large */
  #footer {
    height: auto;
    min-height: auto;
    padding: 8vw 5vw 4vw;
  }

  #footer-brand h1 {
    font-size: 10vw;
  }

  #footer-brand h3 {
    font-size: 3vw;
  }

  #footer-contact-info p,
  #footer-social-info p,
  #footer-links-info p {
    font-size: 3.5vw;
  }

  #footer-bottom p {
    font-size: 2.5vw;
  }

  .footer-divider {
    margin-bottom: 4vw;
  }

  .footer-divider-thin {
    margin: 4vw 0;
  }
}

/* Mobile Small (480px and below) */
@media (max-width: 480px) {
  #nav {
    padding: 0 3vw;
    height: 3.75rem;
  }

  #nav-part1 {
    width: 1.875rem;
  }

  #nav .line {
    height: 0.125rem;
    margin-bottom: 0.1875rem;
  }

  #nav-part2 {
    display: flex;
  }

  #nav-part2 button {
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
    margin-right: 0.3rem;
  }

  #nav-part2 button:first-child {
    display: none;
  }

  #page1 {
    padding-top: 4.375rem;
  }

  #page1 svg {
    scale: 0.15;
    top: -4%;
  }

  #text-container {
    padding-top: 25vw;
  }

  #text-container h2 {
    font-size: 8vw;
    line-height: 9.5vw;
  }

  #page2 {
    min-height: 85vh;
  }

  #page2 #svg2,
  #page2 #svg3 {
    width: 600vw;
    bottom: 0;
  }

  #page3 {
    padding: 20vw 3vw;
  }

  #page3 .elem:nth-child(1) {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  #page3 .elem:nth-last-child(1) {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .elem-part1 {
    height: 22vh;
  }

  .elem-part2 {
    padding: 4vw;
  }

  .elex-1 h3 {
    font-size: 7vw;
    margin-bottom: 2vw;
  }

  .elex-1 p {
    font-size: 4vw;
  }

  .elex-2 h5 {
    font-size: 3.5vw;
    padding: 0.25rem 0.875rem;
  }

  /* Swiper Mobile Small - Show all 3 images stacked */
  #page4 {
    height: auto;
    padding: 5vw 3vw;
  }

  .swiper-slide {
    margin-bottom: 3vw;
  }

  .swiper-slide img {
    height: 40vh;
    border-radius: 0.75rem;
  }

  #page5 {
    padding: 12vw 4vw;
  }

  #page5-left,
  #page5-right {
    height: 25vh;
    border-radius: 0.75rem;
  }

  #page5-center {
    padding: 10vw 4vw;
  }

  #page5-center h1 {
    font-size: 9vw;
    line-height: 10vw;
    margin-bottom: 5vw;
  }

  #page5-center p {
    font-size: 4.5vw;
    margin-bottom: 8vw;
  }

  /* Footer Mobile Small */
  #footer {
    padding: 10vw 4vw 5vw;
  }

  #footer-brand h1 {
    font-size: 12vw;
  }

  #footer-brand h3 {
    font-size: 4vw;
    letter-spacing: 0.3vw;
  }

  #footer-contact-info p,
  #footer-social-info p,
  #footer-links-info p {
    font-size: 4vw;
  }

  #footer-bottom {
    margin-top: 8vw;
  }

  #footer-bottom p {
    font-size: 3vw;
  }

  #footer-logo svg {
    height: 2.5rem;
  }
}

/* Very Small Screens (360px and below) */
@media (max-width: 360px) {
  #nav-part2 button {
    padding: 0.1875rem 0.375rem;
    font-size: 0.5625rem;
  }

  #page1 svg {
    scale: 0.12;
  }

  #text-container h2 {
    font-size: 9vw;
    line-height: 10.5vw;
  }

  .elex-1 h3 {
    font-size: 8vw;
  }

  .elex-1 p {
    font-size: 4.5vw;
  }

  #page5-center h1 {
    font-size: 10vw;
  }

  #page5-center p {
    font-size: 5vw;
  }

  #footer-brand h1 {
    font-size: 13vw;
  }

  #footer-contact-info p,
  #footer-social-info p,
  #footer-links-info p {
    font-size: 4.5vw;
  }
}