/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#nav {
  height: 80px;
  width: 100%;
  /* background-color: red; */
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 99;
  padding: 0 40px;
}

#nav-part1 {
  width: 40px;
  /* background-color: yellow; */
}

#nav .line {
  height: 2px;
  width: 100%;
  background-color: #434b34;
  margin-bottom: 4px;
}

#nav-part2 button {
  padding: 7px 15px;
  font-weight: 600;
  margin-right: 15px;
  border: 1px solid #434b34;
  background-color: transparent;
  color: #434b34;
  border-radius: 50px;
}

#nav-part2 button:nth-last-child(1) {
  background-color: #434b34;
  color: #fff;
}

#page1 {
  height: 100vh;
  position: relative;
  width: 100%;
  /* background-color: lightseagreen; */
  padding-top: 100px;
}

#page1 svg {
  scale: 0.28;
  fill: #434b34;
  position: absolute;
  top: -10%;
  z-index: 9;
}

#page1 img {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#page2 {
  min-height: 150vh;
  background-color: #5b6647;
  position: relative;
}

#page2 #svg1 {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}

#text-container {
  position: relative;
  z-index: 9;
  padding-top: 10vw;
}

#text-container h2 {
  font-family: PP woodland;
  color: #434b34;
  font-size: 5vw;
  line-height: 5.5vw;
  font-weight: 100;
  text-align: center;
}

#text-container h2 span {
  font-family: PP woodland;
}

#page2 #svg2 {
  position: absolute;
  bottom: -10%;
  width: 300vw;
  fill: #5b6647;
  z-index: 9;
}

#page2 #svg3 {
  position: absolute;
  bottom: -10%;
  left: -50vw;
  width: 300vw;
  fill: #e3e3c4;
}

#page3 {
  min-height: 100vh;
  padding: 13vw 5vw;
  background-color: #f7f7ee;
}

#page3 .elem {
  height: 200px;
  width: 100%;
  border: 1px solid #5b6647;
  /* background-color: red; */
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow: hidden;
}

#page3 .elem:nth-child(1) {
  border-top: 1px solid #5b6647;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#page3 .elem:nth-last-child(1) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.elem-part1 {
  height: 100%;
  width: 22%;

  position: absolute;
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.elem-part1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.elem-part2 {
  height: 100%;
  width: 100%;
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #434b34;
  padding: 3.5vw 4vw;
}

.elex-1 h3 {
  margin-bottom: 3.5vw;
  font-family: pp woodland;
  font-size: 3.3vw;
  font-weight: 100;
}

.elex-1 p {
  font-size: 1.2vw;
}

.elex-2 h5 {
  background-color: #5b6647;
  color: #e3e3c4;
  padding: 4px 18px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.9vw;
  -webkit-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  position: relative;
  overflow: hidden;
}

.elex-2 h5 i {
  position: absolute;
  background-color: #e3e3c4;
  color: #5b6647;
  padding: 5px 18px;
  left: 0;
  opacity: 0;
  top: 0;
}

.elem:hover .elem-part2 {
  width: 78%;
  background-color: #5b6647;
  color: #e3e3c4;
}

.elem:hover .elem-part1 {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.elem:hover .elex-2 h5 {
  background-color: #e3e3c4;
  color: #5b6647;
}

.elem:hover .elex-2 h5 i {
  opacity: 1;
}

#page4 {
  height: 100vh;
  width: 100%;
  background-color: burlywood;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide:nth-last-child(1) {
  width: 20%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(0.6) translateX(-40%) translateY(34%);
  -ms-transform: scale(0.6) translateX(-40%) translateY(34%);
  transform: scale(0.6) translateX(-40%) translateY(34%);
  border-radius: 20px;
}

.swiper-slide {
  width: 80%;
  padding: 60px;
}

.swiper-slide-active img {
  -webkit-transform: scale(1) translateX(0%) translateY(0%);
  -ms-transform: scale(1) translateX(0%) translateY(0%);
  transform: scale(1) translateX(0%) translateY(0%);
}

.swiper-button-next {
  color: #fff;
  background-color: #434b34;
  padding: 5px 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 10%;
  right: 5%;
}

.swiper-button-prev {
  color: #fff;
  background-color: #434b34;
  padding: 5px 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 80%;
}

.swiper-button-next::after {
  content: "";
}

.swiper-button-prev::after {
  content: "";
}

.swiper-pagination {
  /* background-color: red; */
  height: 5%;
  width: 5%;
  left: 85%;
  top: 7%;
  font-weight: 700;
  color: #5b6647;
  font-size: 14px;
}

#page5 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page5-left {
  height: 100%;
  border-radius: 20px;
  width: 40%;
  background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/230/ALH_Odisej_outsidepool_01-scaled-600x0.jpg);
  background-size: cover;
  background-position: center;
  transform: translateX(-10%);

}

#page5-center {
  height: 100%;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  padding: 5vw 8vw;
}

#page5-center h1 {
  font-family: pp woodland;
  font-size: 5vw;
  line-height: 5vw;
  color: #5b6647;
  font-weight: 100;
  margin-bottom: 4vw;
}

#page5-center p {
  font-size: 1.3vw;
  color: #676767;
  font-weight: 500;
  margin-bottom: 4vw;
}

#page5-right {
  height: 100%;
  border-radius: 20px;
  width: 40%;
  background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/388/alh-img-2-600x0.jpeg);
  background-size: cover;
  background-position: center;
  transform: translateX(10%);
}

/* Footer Styling */
#footer {
  height: 84vh;
  width: 100%;
  background-color: #032a3b;
  /* Dark Blue from screenshot */
  color: #fff;
  padding: 5vw 4vw 2vw 4vw;
  font-family: 'Gilroy', sans-serif;
  position: relative;
  z-index: 10;
}

#footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5vw;
}

#footer-brand {
  text-align: center;
  width: 100%;
}

#footer-brand h1 {
  font-family: 'PP Woodland', serif;
  /* Assuming PP Woodland is the serif font used */
  font-size: 5vw;
  font-weight: 100;
  color: #e3e3c4;
  /* Cream color */
  margin-bottom: 0.5vw;
}

#footer-brand h3 {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.2vw;
  letter-spacing: 0.2vw;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

#footer-logo {
  position: absolute;
  right: 4vw;
  top: 5vw;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 2vw;
}

.footer-divider-thin {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2vw 0;
}

#footer-contact-info,
#footer-social-info,
#footer-links-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-col {
  width: 33.33%;
}

.footer-col.center {
  text-align: center;
}

.footer-col.right {
  text-align: right;
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8vw;
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.6);
}

/* Responsiveness */

/* Tablet & Mobile */
@media (max-width: 1024px) {
  #nav {
    padding: 0 20px;
  }

  #text-container h2 {
    font-size: 8vw;
    line-height: 9vw;
  }

  #page3 {
    padding: 10vw 2vw;
  }

  .elem {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .elem-part1 {
    position: relative;
    width: 100%;
    height: 200px;
    transform: none;
    margin-bottom: 20px;
  }

  .elem-part2 {
    width: 100%;
    padding: 0;
  }

  .elem:hover .elem-part2 {
    width: 100%;
  }

  #page5 {
    flex-direction: column;
    padding: 10vw 0;
    height: auto;
  }

  #page5-left,
  #page5-right {
    width: 90%;
    height: 300px;
    transform: none;
    margin: 20px auto;
  }

  #page5-center {
    width: 100%;
    padding: 5vw;
  }

  #page5-center h1 {
    font-size: 10vw;
    line-height: 11vw;
  }

  #page5-center p {
    font-size: 4vw;
    margin-bottom: 8vw;
  }

  /* Footer Responsive */
  #footer-brand h1 {
    font-size: 10vw;
  }

  #footer-brand h3 {
    font-size: 3vw;
  }

  #footer-contact-info,
  #footer-social-info,
  #footer-links-info {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-col {
    width: 100%;
    text-align: center;
  }

  .footer-col.center,
  .footer-col.right {
    text-align: center;
  }

  #footer-contact-info p,
  #footer-social-info p,
  #footer-links-info p {
    font-size: 3.5vw;
  }

  #footer-bottom {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }

  #footer-bottom p {
    font-size: 2.5vw;
  }

  #footer-logo {
    position: relative;
    right: auto;
    top: auto;
    margin: 20px auto;
    display: block;
    width: fit-content;
  }

  #footer-top {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Small */
@media (max-width: 600px) {
  #nav-part2 {
    display: none;
    /* Hide buttons on small mobile for now or replace with icon */
  }

  #page1 {
    padding-top: 150px;
  }
}